p.bubble
{
	position: relative;
	width: 200px;
	height: 210px;
	text-align: center;
	/*line-height: 100px;*/
	margin: 60px auto;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.thought
{
	width: 130px;
	line-height: 100px;
	-webkit-border-radius: 108px;
	-moz-border-radius: 108px;
	border-radius: 108px;
}

p.bubble:before, p.bubble:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

p.speech:before
{
	left: 30px;
	top: 200px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after
{
	left: 38px;
	top: 200px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

