html{
    height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

p.tab {
  margin-bottom: 0px;
  margin-top: 3px;
}

p.small {
  font-size: 16px;
}

a.tabs{
  color: #333;
}

a.uni
{
  color: white;
}

#microphone{
    background: url("../img/mp_normal.png") no-repeat;
    height: 25px;
    width: 25px;
}
#microphone:hover{
    background: url("../img/mp_onclick.png") no-repeat;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  background-image: url(../img/pattern/main.png);
  /*background: repeat;*/
}

header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100vh;
}

header .row{
  display: block;
 /* flex-direction: row;*/
}

header .img {
  display: none;
  /*margin: 0 auto 20px;*/
}

header .description{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 5%;
  flex-direction: column;
}

header .intro-text #name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  color: #032341;
}


header .col-lg-6{
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  header .img{
    display: block;
  }
  header .row{
    display: flex;
    direction: row;
  }
  header .container {
    padding-top: -px;
    padding-bottom: 0px;
  }
  header .intro-text #name {
    font-size: 6em;
  }
  header .intro-text .edu {
    padding-top: 0px;
    font-size: 1.75em;
    color: #2E2E2E;
  }
}

